include bemto/bemto.pug

doctype html
html
  head(lang="ru")
    include layout/__head
  body
    include layout/__header
    main.content
      section.container
        +b.SECTION.p404
          svg(viewbox="0 0 2398.5 257.5").orbit.orbit_elem7
            path(stroke="rgb(245, 130, 31)", stroke-width="1px", fill="none", 
     d="M2397.500,6.500 C2397.500,6.500 2204.801,247.370 1705.070,247.370 C1454.954,247.370 1329.890,220.572 1143.908,129.304 C957.927,38.036 854.246,6.500 734.903,6.500 C350.045,6.500 1.500,256.500 1.500,256.500", id="orbit1")
            circle(r="4.5", fill="rgb(245, 130, 31)")
              animateMotion(dur="15s", repeatCount="indefinite", calcMode="linear")
                mpath(xlink:href="#orbit1")
          svg(viewbox="0 0 2231.5 396.5").orbit.orbit_elem8
            path(stroke="rgb(7, 94, 157)", stroke-width="1px", fill="none", 
     d="M2230.500,1.500 C2230.500,1.500 1933.762,230.065 1617.500,333.500 C1342.055,417.586 1146.832,407.758 969.500,328.500 C819.665,261.532 698.047,206.475 507.500,189.500 C281.397,169.358 1.361,343.247 1.361,343.247", id="orbit2")
            circle(r="4.5", fill="rgb(7, 94, 157)")
              animateMotion(dur="12s", repeatCount="indefinite", calcMode="linear", keyPoints="1;0" keyTimes="0;1")
                mpath(xlink:href="#orbit2")
          +e.img(src="img/404.png")
          +e.P.title Страница не найдена
          +e.text
            p Вы неправильно набрали адрес. Возможно такой страницы больше не существует. Воспользуйтесь главным меню, чтобы перейти на другую страницу.
            p Вы также можете 
              a(href="#") вернуться на главную страницу сайта. 
    include layout/__footer
    include layout/__scripts