include bemto/bemto.pug

doctype html
html
  head(lang="ru")
    include layout/__head
  body
    include layout/__header
    main.content
      section.container
        +b.SECTION.contacts
          +e.main
            section.breadcrumbs
              a(href="#").breadcrumbs__href Главная
              span.breadcrumbs__delim 
            h1 Контакты
            +e.rows
              +e.row
                +e.P.title Адрес
                +e.P.text 454106, г. Челябинск, Победы проспект, 238, 1 этаж, 3 офис
              +e.row
                +e.P.title Режим работы
                +e.P.text Пн-пт: 09:00–18:00<br>обед: 13:00–14:00
              +e.row
                +e.P.title Телефон
                +e.P.text 
                  +e.phone(href="tel:+73512252436") +7 (351) 225–24–36
              +e.row
                +e.P.title E-mail
                +e.P.text
                  +e.mail(href="mailto:info@k-en.ru") info@k-en.ru
              +e.row
                +e.P.title Генеральный директор
                +e.P.text Рябов Максим Владимирович
          +e.ASIDE.mapover
            script(type="text/javascript", src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
            +e.map.js-contacts-map(data-coords="55.184772, 61.370484")
      
    include layout/__footer
    include layout/__scripts