include bemto/bemto.pug

doctype html
html
  head(lang="ru")
    include layout/__head
  body
    include layout/__header
    +b.MAIN.content
      +b.SECTION.objects_inner
        svg(viewbox="0 0 1824.5 825.5").orbit.orbit_elem9
          path(stroke="rgb(245, 130, 31)", stroke-width="1px", fill="none", 
   d="M1.066,818.172 C1.066,818.172 457.820,862.056 737.396,682.717 C900.202,578.282 957.946,483.014 1038.901,333.197 C1119.857,183.380 1176.476,120.008 1252.894,68.129 C1411.972,-39.869 1822.651,14.455 1822.651,14.455", id="orbit1")
          circle(r="4.5", fill="rgb(245, 130, 31)")
            animateMotion(dur="15s", repeatCount="indefinite", calcMode="linear")
              mpath(xlink:href="#orbit1")
        svg(viewbox="0 0 1957.5 801.5").orbit.orbit_elem10
          path(stroke="rgb(7, 94, 157)", stroke-width="1px", fill="none", 
   d="M1.337,750.933 C1.337,750.933 415.481,843.369 721.078,772.723 C1026.675,702.078 1150.452,557.227 1217.810,430.584 C1285.170,303.940 1352.038,174.569 1451.207,103.096 C1635.360,-29.629 1956.384,4.763 1956.384,4.763", id="orbit2")
          circle(r="4.5", fill="rgb(7, 94, 157)")
            animateMotion(dur="12s", repeatCount="indefinite", calcMode="linear", keyPoints="1;0" keyTimes="0;1")
              mpath(xlink:href="#orbit2")
        .container
          section.breadcrumbs
            a(href="#").breadcrumbs__href Главная
            span.breadcrumbs__delim 
          h1 Выполненные объекты
          p Представляем Вашему вниманию выполненные объекты компании ООО «Квантум Энерго»
          +e.UL.list
            +e.item._large
              +e.imgover(href="#")
                +e.img.fit(src="img/obj1.jpg")
              +e.content
                +e.P.date 28 августа 2018
                +e.href(href="#") 
                  span.js-shave(data-height="72") Модульные распределительные шкафы для АО «СХЗ» Модульные распределительные шкафы для АО «СХЗ»
                +e.P.about.js-shave(data-height="120") ООО «Модуль» — ведущий производитель блочных комплектных трансформаторных подстанций, распределительных пунктов и поставок оборудования для встроенных ТП и РП. И еще чуть-чуть текста, чтобы понять, что обрезка работает. И может быть даже еще маленько, а то не режется.
            +e.item
              +e.imgover(href="#")
                +e.img.fit(src="img/obj2.jpg")
              +e.content
                +e.P.date 14 августа 2018
                +e.href(href="#") 
                  span 2КТПН-БТВК для ОАО «СургутНефтегаз»
                +e.P.about Краткое описание новости в несколько строк, чтобы показать межстрочное расстояние и объем текста
            +e.item
              +e.imgover(href="#")
                +e.img.fit(src="img/obj3.jpg")
              +e.content
                +e.P.date 10 июня 2018
                +e.href(href="#") 
                  span КТПН-1000 для буровой компании г. Москвы
                +e.P.about Краткое описание новости в несколько строк, чтобы показать межстрочное расстояние и объем текста
            +e.item
              +e.imgover(href="#")
                +e.img.fit(src="img/obj4.jpg")
              +e.content
                +e.P.date 5 мая 2018
                +e.href(href="#") 
                  span 2КТПН-БТКК-400/6/0,4 УХЛ1 для ООО ТД «ЭЛЕКТРОТЕХМОНТАЖ» и еще чуть-чуть текста, чтобы понять, что обрезка работает
                +e.P.about Краткое описание новости в несколько строк, чтобы показать межстрочное расстояние и объем текста
            +e.item
              +e.imgover(href="#")
                +e.img.fit(src="img/obj5.jpg")
              +e.content
                +e.P.date 4 мая 2018
                +e.href(href="#") 
                  span КРУ 2-12-Р для Тюменских распределительных сетей
                +e.P.about ЗАО Механизированная колонна № 54 «Сибирьэлектросетьстрой» занимается строительством коммунальных объектов для обеспечения электроэнергией и телекоммуникациями.
            +e.item
              +e.imgover(href="#")
                +e.img.fit(src="img/obj6.jpg")
              +e.content
                +e.P.date 3 мая 2018
                +e.href(href="#") 
                  span РУ-6 кВ на базе КСО-298 для ЗАО «Автоматизированные системы и комплексы»
                +e.P.about Ведущая компания в России, работающая в области автоматизированного электропривода и систем автоматизации технологических процессов.
            +e.item
              +e.imgover(href="#")
                +e.img.fit(src="img/obj7.jpg")
              +e.content
                +e.P.date 2 мая 2018
                +e.href(href="#") 
                  span 2КТПН-БПКК-1250/10/0,4 кВ для ООО «Электрокомплект Плюс»
                +e.P.about ООО «Электрокомплект Плюс» - динамично развивающаяся компания, которая работает в сфере электроэнергетики.
            +e.item
              +e.imgover(href="#")
                +e.img.fit(src="img/obj8.jpg")
              +e.content
                +e.P.date 4 мая 2018
                +e.href(href="#") 
                  span КРУ-2-12Р-10-К/К-1000 У3 для ООО «СпецСтройЭнерго»
                +e.P.about ООО «СпецСтройЭнерго» - динамично развивающаяся строительная компания, которая более 6 лет успешно работает в сфере энергетики и промышленного строительства.
            +e.item
              +e.imgover(href="#")
                +e.img.fit(src="img/obj9.jpg")
              +e.content
                +e.P.date 3 мая 2018
                +e.href(href="#") 
                  span РУ-10кВ на базе ячеек КСО-366 для ООО «Омега»
                +e.P.about ООО «Омега» - компания, оказывающая услуги по резке листового и трубного металла с применением лазерных технологий, гибке, сварке и покраске.
            +e.item
              +e.imgover(href="#")
                +e.img.fit(src="img/obj10.jpg")
              +e.content
                +e.P.date 2 мая 2018
                +e.href(href="#") 
                  span КТПН-КТКК-1000/6/0,4 для ВПТ Нефтемаш 
                +e.P.about ВПТ Нефтемаш - собственное пользование и поставка под заказ бурового оборудования от имиджевых заводов производителей со всего мира.
              
          include blocks/pagination
          
    include layout/__footer
    include layout/__scripts