doctype html
html
  head(lang="ru")
    include layout/__head
  body
    include layout/__header
    main.content
      section.container.container_text
        section.breadcrumbs
          a(href="#").breadcrumbs__href Главная
          span.breadcrumbs__delim 
        h1 H1 — Новые возможности создания компактных многофункциональных и цифровых распределительных устройств 6–35 кВ
        .text
          ul
            li
              a(href="index") Главная
            li
              a(href="text") Типовая текстовая
            li
              a(href="404") 404
            li
              a(href="objects") Выполненные объекты
            li
              a(href="object") Выполненные объекты - 1 объект
    include layout/__footer
    include layout/__scripts