.p404
  max-width 400px
  margin 0 auto
  pt 25px
  @media $desktopMin
    pt 45px
  @media $PortraitMedium
    max-width 280px
  &__img
    max-width 100%
    mb 17px
  &__title
    color #e8ebf5
    font-family $slab
    fontify 36px 700 43px
    mb 36px
    @media $PortraitMedium
      fontify 25px 700 30px
  &__img,
  &__title,
  &__text
    pos relative
    z-index 1