.objects
  bgc $gblue
  pt 92px
  pb 70px
  mb 93px
  @media $LandscapeMin
    pt 60px
    pb 70px
    mb 60px
  &_inner
    bgc transparent
    pos relative
    mt -65px
    pb 0
    mb 0
    pt 65px
    @media $LandscapeMax
      mt -68px
    @media $LandscapeMedium
      mt -50px
    &:before
      content ""
      pos absolute
      bgc $gblue
      l 0
      t 0
      w 100%
      h 713px
      @media $desktopMax
        h 686px
      @media $desktopMin
        h 670px
      @media $LandscapeMedium
        dn()
    & ^[0]__list
      pl 0
      pt 0
      mt 45px
    & ^[0]__content
      padding 0
      pt 23px
      @media $LandscapeMedium
        min-height inherit
  .container
    pos relative
  &__list
    df()
    flex-wrap wrap
    ml -30px
    w calc(100% + 30px)
    pl 70px
    pt 15px
    @media $LandscapeMin
      w calc(100% + 40px)
      ml -40px
    @media $desktopMedium
      pl 0
    /.objects:not(.objects_inner) &
      @media $PortraitMedium
        mb 30px
    &_others
      pl 0
      pt 0
      mb -40px
      & ^[0]__content
        padding 0
        pt 28px
        @media $LandscapeMedium
          min-height inherit
      & ^[0]__item:nth-child(3)
        @media $LandscapeMedium
          dn()
        @media $PortraitMedium
          db()
  &__item
    w calc(100% / 3 - 30px)
    ml 30px
    mb 30px
    bgc white
    border-radius 5px
    overflow hidden
    /.objects_inner &:not(&_large) .objects__imgover
      border-bottom-left-radius 5px
      border-bottom-right-radius 5px
    /.objects_inner &:not(&_large)
      mb 50px
    @media $LandscapeMedium
      w calc(50% - 30px)
    @media $LandscapeMin
      w calc(50% - 40px)
      ml 40px
      mb 40px
    @media $PortraitMedium
      w calc(100% - 40px)
    /.objects:not(.objects_inner) &
      @media $PortraitMedium
        mb 10px
    @media $LandscapeMediumMin
      &_large
        w 100%
        h 296px
        df()
        & ^[0]__imgover
          w 46%
        & ^[0]__date
          mb 5px
        & ^[0]__href
          fontify 24px 600 30px
        & ^[0]__content
          w 50%
          padding 38px 30px 0 43px
  &__imgover
    db()
    pos relative
    pt 57%
    overflow hidden
    @media $LandscapeMedium
      /.objects_inner &
        border-bottom-left-radius 5px
        border-bottom-right-radius 5px
  &__img
    pos absolute
    l 0
    t 0
    r 0
    b 0
    object-fit contain
    font-family 'object-fit: contain;'
    min-width 100%
    transition .7s opacity
    &:hover
      opacity .7
  &__content
    padding 28px 30px 30px 30px
    min-height 151px
    @media $PortraitMedium
      min-height inherit
  &__date
    c alpha($dark, .4)
    fontify 12px 600 14px
    mb 6px
    text-transform uppercase
    letter-spacing .06em
  &__href
    c $dark
    fontify 16px 600 24px
    border-bottom 1px solid alpha($dark, .2)
    transition .7s border
    &:hover
      border-color transparent
    & > span
      pos relative
      t 4px
  &__about
    c $dark
    fontify 16px 300 24px
    mt 19px
    @media $LandscapeMedium
      dn()
  &__tocat
    pos absolute
    t 24px
    r 0
    @media $LandscapeMax
      t 18px
    @media $LandscapeMin
      pos relative
      t 0
      r auto
      mt 10px
  &__inner
    &-date
      color alpha($dark, .4)
      fontify 14px 600 24px
      text-transform uppercase
      letter-spacing .07em
      mb 30px
    &-title
      color $dark
      font-family $slab
      fontify 30px 700 37px
      mt 95px
      mb 35px