.pagination
  display flex
  justify-content center
  align-items flex-start
  mt 25px
  &__prev,
  &__next
    ib()
    pos relative
    size 40px
    border-radius 50%
    border 1px solid alpha(#7ca8cb, .4)
    bgc transparent
    outline none
    transition .7s opacity, .7s background, .7s border
    @media $PortraitMin
      size 30px
    &:before
      content ""
      pos absolute
      l 16px
      t 14px
      size 7px 10px
      background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAKBAMAAACK4lk+AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAGFBMVEUHXp0HXp0HXp0HXp0HXp0HXp0HXp3////pVd7qAAAAB3RSTlMAZmct/f5ub6q6TgAAAAFiS0dEBxZhiOsAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAmSURBVAjXY2BUYGBgMAkCEmyhIGYqnAkmUgNBDAGgEiCDgRHIAAB0TQSHjsHj/QAAAABJRU5ErkJggg==') no-repeat center
      transition .7s background
      @media $PortraitMin
        l 11px
        t 9px
    &:not(.disabled):hover
      bgc $blue
      border-color transparent
      &:before
        background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAKBAMAAACK4lk+AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAGFBMVEX///////////////////////////////8pK8DIAAAAB3RSTlMAZmct/f5ub6q6TgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAmSURBVAjXY2BUYGBgMAkCEmyhIGYqnAkmUgNBDAGgEiCDgRHIAAB0TQSHjsHj/QAAAABJRU5ErkJggg==')
    &.disabled
      opacity .2
      border-bottom transparent
  &__prev
    transform scaleX(-1)
    mr 23px
    @media $PortraitMin
      mr 15px
  &__next
    ml 23px
    @media $PortraitMin
      ml 15px
  &__list
    display flex
  &__item
    text-align center
    color $dark
    fontify 16px 600 40px
    size 40px
    display flex
    align-items center
    justify-content center
    border-radius 5px
    @media $PortraitMin
      size 30px
      line-height 30px
    &.active
      background-color #f6f7fb
    &-href
      pos relative
      color $dark
      fontify 16px 600 16px
      transition .7s border
      border-bottom 1px solid lightgrey
      transition .7s color, .7s border
      &:not(a):after
        border-color transparent
      &:hover
        color $blue
        border-color transparent
      ^[-1].active &
        color $blue
        border-color transparent
