html,
body
  font-family $os
body
  overflow-x hidden
  &:not(.pace-done)
    overflow hidden
  &
    .header,
    .content,
    .footer
      opacity 0
      transition .7s opacity
    .content
      z-index -5
      pos relative
      transition-delay 0.3s
    .header,
    .footer
      transition-delay 0.8s
  &.pace-done
    .header,
    .content,
    .footer
      opacity 1
    .content
      z-index auto
      
.container
  w 100%
  max-width 1170px
  margin 0 auto
  @media $desktopMax
    max-width 1040px
  @media $desktopMin
    max-width 960px
  @media $LandscapeMax
    max-width calc(100% - 60px)
    ml 30px
    mr 30px
  &_text
    pr 235px
    @media $desktopMax
      pr 105px
    @media $desktopMin
      pr 0
    
.content
  overflow hidden
  min-height calc(100vh - 437px)
  padding 0 50px
  @media $desktopMax
    padding 0 30px
  @media $desktopMedium
    padding 0
  @media $LandscapeMax
    pt 149px
    min-height calc(100vh - 92px)
  @media $LandscapeMedium
    pt 100px
  h1:not([class])
    color $dark
    font-family $slab
    fontify 48px 700 53px
    margin 43px 0 35px
    @media $desktopMin
      fontify 40px 700 45px
    @media $PortraitMedium
      fontify 29px 700 36px
    @media $PortraitMin
      fontify 21px 700 27px
  h2:not([class])
    color $dark
    font-family $slab
    fontify 36px 700 43px
    margin 43px 0 28px
    @media $desktopMin
      fontify 30px 700 37px
    @media $PortraitMedium
      fontify 26px 700 32px
    @media $PortraitMin
      fontify 19px 700 24px
  h3:not([class])
    color $dark
    font-family $slab
    fontify 30px 700 37px
    margin 43px 0 31px
    @media $desktopMin
      fontify 24px 700 28px
    @media $PortraitMedium
      fontify 22px 700 26px
    @media $PortraitMin
      fontify 18px 700 23px
  h4:not([class])
    color $dark
    font-family $slab
    fontify 24px 700 33px
    margin 43px 0 17px
    @media $PortraitMedium
      fontify 22px 700 26px
    @media $PortraitMin
      fontify 18px 700 23px
  img:not([class])
    margin 16px 0
    max-width 100%
    height auto !important
  ul:not([class])
    list-style  none
    margin  18px 0
  ul:not([class]) li
    pl 25px
    pos relative
    fontify 16px 300 24px
  ul:not([class]) > li:before
    content ""
    pos absolute
    l 0
    t 9px
    size 7px
    border-radius 50%
    bgc $blue
  ol:not([class])
    list-style none
    margin 18px 0 30px
    counter-reset myCounter
  ol:not([class]) li
    pl 25px
    pos relative
    fontify 16px 300 24px
  ol:not([class]) > li:before
    counter-increment myCounter
    content counter(myCounter)"."	
    pos absolute
    l 0
    t 0
    w 30px
    pr 9px
    color $blue
    fontify 16px 700 24px
  p:not([class])
    color $dark
    fontify 16px 300 24px
    margin 18px 0
  a:not([class])
    color $blue
    border-bottom 1px solid alpha($blue, .4)
    transition .5s border
    &:hover
      border-color transparent
 
  *:not([class]):not(span):first-child
    mt 0 !important
  *:not([class]):not(span):last-child
    margin-bottom 0 !important

  table
    th
      text-align left
      padding 18px 24px
      color white
      fontify 16px 300 24px
      bgc $blue
    td
      padding 14px 24px
      color $dark
      fontify 16px 300 24px
      border 1px solid #e8ebf5
    tbody
      border 2px solid #e8ebf5
      border-top 0

input::-webkit-input-placeholder
  color alpha(white, .5)
input::-moz-placeholder
  color alpha(white, .5)
input:-ms-input-placeholder
  color alpha(white, .5)

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
  transition background-color 5000s ease-in-out, 0s 0.7s border
  -webkit-text-fill-color #fff !important
  
body:not(.index) .content
  pt 65px
  pb 90px
  @media $LandscapeMax
    pt 215px
  @media $LandscapeMedium
    pt 145px
    
div[class\^="table-scroller"]
  overflow auto
  pos relative
  pl 1px
  &:not(:last-child)
    mb 36px
  @media $desktopMax
    w 100%

.btn
  ib()
  bgc $blue
  border 0
  border-radius 5px
  color white
  outline none
  cursor pointer
  fontify 14px 400 36px
  padding 0 15px
  transition .7s background, .7s color
  &:hover
    bgc #e8ebf5
    color #7ca8cb
    
.common
  &__title 
    c $dark
    font-family $slab
    fontify 36px 700 40px
    pos relative
    mb 28px
    l 68px
    letter-spacing -.01em
    max-width calc(100% - 68px)
    @media $desktopMedium
      fontify 30px 700 36px
      l 40px
      max-width calc(100% - 40px)
    @media $LandscapeMedium
      fontify 25px 700 27px
      l 0
    &:before
      content ""
      pos absolute
      l -68px
      t -8%
      h 116%
      w 2px
      bgc $blue
      @media $desktopMedium
        l -40px
      @media $LandscapeMedium
        dn()
    &_white
      c white
      &:before
        bgc white
  &__subtitle
    color black
    font-family $handy
    fontify 90px 400 71px
    text-align right
    mt 2px
    @media $lDesktopSmall
      fontify 60px 400 43px
    @media $desktopMin
      fontify 52px 400 40px
    @media $LandscapeMax
      text-align inherit
    @media $LandscapeMedium
      fontify 32px 400 30px
  &__href
    pos relative
    ib()
    mr 43px
    color $dark
    fontify 13px 600 13px
    letter-spacing .1em
    text-transform uppercase
    @media $PortraitMedium
      text-transform inherit
      letter-spacing 0
      fontify 16px 400 16px
    &:before
      content ""
      pos absolute
      r -43px
      t 2px
      size 31px 9px
      background url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAJBAMAAAA4D+qMAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAIVBMVEUiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiL///+wgTfxAAAACXRSTlMAAQzGJWLixyQ1DzKIAAAAAWJLR0QKaND0VgAAAAlwSFlzAAALEgAACxIB0t1+/AAAACtJREFUCNdjYEAGAgyogMkETYAhzAFNgDWFgWEmCpiOZgprBgEzMG0BmgAAaqsLlPzWoUwAAAAASUVORK5CYII=") no-repeat center
      transition .7s right
      @media $PortraitMin
        dn()
    &:after
      content ""
      pos absolute
      b -8px
      bgc alpha($dark, .2)
      l 0
      h 1px
      w 100%
      transition .7s width, .7s left
      @media $PortraitMedium
        b -2px
    &:hover
      &:before
        r -41px
      &:after
        l 50%
        w 0
  &__input
    w 100%
    h 36px
    border 0
    border-bottom 1px solid alpha(white, .3)
    bgc transparent
    color white
    font-family $os
    font-size 16px
    line-height 300
    transition .7s border
    &.notempty, 
    &:focus
      border-bottom 1px solid alpha(white, 1)
    &:focus + ^[0]__placeholder,
    &.notempty + ^[0]__placeholder
      t -17px
      line-height 18px
  &__textarea
    w 100%
    h 76px
    overflow hidden
    resize none
    padding 0 0 11px
    border 0
    border-bottom 1px solid alpha(white, .3)
    bgc transparent
    color white
    font-family $os
    fontify 16px 300 22px
    transition .7s border
    & + ^[0]__placeholder
      line-height 22px
    &.notempty, 
    &:focus
      border-bottom 1px solid alpha(white, 1)
    &:focus + ^[0]__placeholder,
    &.notempty + ^[0]__placeholder
      t -17px
      line-height 18px
  &__sbm
    cursor pointer
    font-family $os
    mt 5px
    border-radius 5px
  &__select
    h 36px
    bgc #fff
    border 2px solid #b6b6b6
    w auto
    cursor pointer
    transition .5s border
    &.warning
      border-color #ed1c24
  &__placeholder
    pos absolute
    z-index -1
    l 0 
    t 0
    color alpha(white, .5)
    fontify 13px 400 35px
    letter-spacing .1em
    text-transform uppercase
    text-overflow ellipsis
    white-space nowrap
    overflow hidden
    max-width 100%
    transition .7s top, .7s line-height
  &__col
    pos relative
    z-index 1
    w calc(50% - 30px)
    &_col3
      w calc(100% / 3 - 20px)
    &_wide
      w 100%
    @media $LandscapeMedium
      w 100%
      & + &
        mt 35px
  &__row
    display flex
    justify-content space-between
    pos relative
    w 100%
    @media $LandscapeMedium
      flex-direction column
    & + &
      mt 35px
  &__fileover
    w 100%
    pos relative
    transition .5s border
    &.warning
      border-color #ed1c24
    & + &
      mt 20px
  &__file
    pos absolute
    w 0
    h 0
    l 0
    t 0
    opacity 0
    &[data-req]:after
      content "*"
      pos absolute
      r -11px
      fontify 23px 400 14px
      t -3px
    &name
      ib()
      pos relative
      l 26px
      cursor pointer
      color alpha(white, .5)
      fontify 14px 700 14px
      letter-spacing .1em
      text-transform uppercase
      border-bottom 1px solid alpha(white, .25)
      transition .5s border
      @media $lDesktopSmall
        font-size 12px
      &.choosed
        color white
        text-transform none
        letter-spacing 0
        font-weight 300
      &.choosed,
      &:hover
        border-color transparent
      &:before
        content ""
        pos absolute
        l -24px
        t 3px
        size 16px 8px
        background url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAICAMAAADHqI+lAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAe1BMVEX////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////QYBnOAAAAKHRSTlMAFJLi/uaFBRrhukMXERM+1IeisgE0t8xM8EeJRFvnRmnsaKQ1uVUVNSas3QAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxIAAAsSAdLdfvwAAABYSURBVAjXRc1ZEkAwEATQJvZ9jxC74P4nRATvr6eqewBNJ8ahmJYNx/X8IHxEcZIiywuUFZWAmoE1AGm5BHQ92PAf+DjNWK7KqipUbLhGxTcKadfJ+/WOJ3rfCXxQ+WZgAAAAAElFTkSuQmCC") no-repeat center
      &.choosed + ^[-1]delete
        visibility visible
        cursor pointer
      &.choosed:after
        content ""
    &delete
      ib()
      visibility hidden
      mt 3px
      ml 32px
      size 9px
      background url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJBAMAAAASvxsjAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAKlBMVEX///////////////////////////////////////////////////////9q+00tAAAADXRSTlMA0Do74eI5bGtqOM7MEv0urwAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAA3SURBVAjXYxBiYGAWYFBRYDBNYGByYg5jYGBQLU0Akhw3GUDsKQoMDExRTE4MDKYLQMp2AbkHAKcGB4WerKhTAAAAAElFTkSuQmCC") no-repeat center
      
.fakecheckbox
  ib()
  pos relative
  &__label
    ib()
    color alpha(white, .5)
    fontify 14px 300 20px
    pos relative
    pl 30px
    pt 9px
    &:before 
      content ""
      pos absolute
      l 0px
      t 8px
      size 16px
      border 2px solid alpha(white, .5)
      border-radius 4px
      cursor pointer
      transition .5s border
    &:after
      content ""
      pos absolute
      size 10px 7px
      background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAHCAMAAAAGcixRAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAaVBMVEX///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////9tAe1xAAAAInRSTlMAMeJ2BDvvyIHoKkb1ww/H6StU+bkKEs70/K4GE6IDzZQB32lQYAAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxIAAAsSAdLdfvwAAABCSURBVAjXJYvFEcAwAMNUZoYUUvL+Q/Zy8Ud6yOAXhBHEzpJUGXlRQlWraenUD+OkeYHVaNt1nC6zRrpuf7bP+zn+aAUDdRP9KA0AAAAASUVORK5CYII=') no-repeat center
      l 5px
      t 15px
      opacity 0
      cursor pointer
      transition .5s opacity
    a
      color inherit
      border-bottom 1px solid alpha(white, .2)
      transition .7s border
      &:hover
        border-color transparent
  &__truecheck
    pos absolute
    l 0
    t 0
    w 0
    h 0
    border 0
    opacity 0
    &:checked + ^[0]__label:after
      opacity 1
    &.warning + ^[0]__label:before 
      border-color #ff0f37
    
.totop
  pos fixed
  z-index 5
  b 20px
  r 20px
  cursor pointer
  size 44px
  border-radius 50%
  box-shadow 0 6px 19px rgba(0, 0, 0, 0.12)
  visibility hidden
  opacity 0
  background url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAKBAMAAABLZROSAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAMFBMVEX///////////////////////////////////////////////////////////////9Or7hAAAAAD3RSTlMAPTz08p6hA6DzCennlZZZY9tOAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAEhJREFUCNdjYAACIQYoYDRRgLKE/ztBhezDvkAEhb+W5ztBhMIZysCCwl8LGNhBgiAhBoaKnwoMq4FCDAzs/acYGK+DtdUpAACFthD1OC0MSwAAAABJRU5ErkJggg==") no-repeat center #e76f17
  transition .5s visible, .5s box-shadow, .5s opacity
  &:hover
    box-shadow none
  &.visible
    visibility visible
    opacity 1
      
.breadcrumbs
  mb 20px
  color $dark
  opacity .5
  &__href
    color $dark
    fontify 14px 300 18px
    border-bottom 1px solid
    transition .5s border
    &:hover
      border-color transparent
  &__delim
    ib()
    margin 5px 11px 0
    size 10px 7px
    background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAHBAMAAADDgsFQAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAG1BMVEWpqampqampqampqampqampqampqampqan////E4sCnAAAAB3RSTlMAMwzachxzI53qQgAAAAFiS0dECIbelXoAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAkSURBVAjXY2BgYBAAYgYmExDJEOzAUA4EhWB2AkjcDCwuwAAAU6MEIlVESYMAAAAASUVORK5CYII=') no-repeat center
  & + h1:not([class])
    mt 0

input.warning,
textarea.warning
  border-color #ff0f37

.backtoblack
  ib()
  pos relative
  l 37px
  mt 53px
  color $dark
  fontify 16px 600 16px
  border-bottom 1px solid alpha($dark, .2)
  transition .7s border
  &:hover
    border-color transparent
  &:before
    content ""
    pos absolute
    l -37px
    t -4px
    size 22px
    border 1px solid alpha($blue, 0.2)
    background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAKBAMAAACK4lk+AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAG1BMVEUHXp0HXp0HXp0HXp0HXp0HXp0HXp0HXp3///96mfWvAAAACHRSTlMAZmf+/SxuaEA4JB0AAAABYktHRAiG3pV6AAAACXBIWXMAAAsSAAALEgHS3X78AAAALElEQVQI12NgYBBiYGBgNAlgYFA2Y2BgMk5gYCgGMsA8BkYQl0HYDKYEqBgAZOsD/MQ87v8AAAAASUVORK5CYII=') no-repeat center
    border-radius 50%
  
.hidden-block
  display none
  
.orbit
  pos absolute
  &_elem1
    t 134px
    l -2px
  &_elem2
    t 0
    l -2px
  &_elem3
    t 210px
  &_elem4
    t 100px
    r -2px
  &_elem5
    l 88px
    t 20px
    size 341px 1584px
  &_elem6
    size 591px 1452px
  &_elem7,
  &_elem8
    l 57%
    transform translateX(-50%)
  &_elem7
    size 2397px 255px
    t 28px
    z-index 2
    @media $LandscapeMax
      t 178px
    @media $LandscapeMedium
      t 128px
    @media $PortraitMedium
      t 98px
  &_elem8
    size 2230px 394px
    t -108px
    @media $LandscapeMax
      t 42px
    @media $LandscapeMedium
      t -8px
    @media $PortraitMedium
      t -88px
  &_elem9
    size 1822px 823px
    l -53px
    t -56px
    @media $LandscapeMedium
      dn()
  &_elem10
    size 1955px 800px
    l -156px
    t -125px
    @media $LandscapeMedium
      dn()
  &_elem11
    size 1822px 823px
    l -53px
    t -56px
    z-index -1
    @media $desktopMedium
      dn()
  &_elem12
    size 1955px 800px
    l -156px
    t -125px
    z-index -1
    @media $desktopMedium
      dn()
  &_elem13
    size 296px 1352px
    t 52px
    r -105px
    @media $desktopMedium
      dn()
  &_elem14
    size 455px 1427px
    t 199px
    r -248px
    @media $desktopMedium
      dn()
  &_elem15
    size 296px 1352px
    t 360px
    l -105px
    transform scale(-1)
    @media $desktopMedium
      dn()
  &_elem16
    size 455px 1427px
    t 136px
    l -248px
    transform scale(-1)
    @media $desktopMedium
      dn()