@font-face {
  font-family 'RobotoSlab';
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'),
      url('fonts/subset-RobotoSlab-Bold.woff2') format('woff2'),
      url('fonts/subset-RobotoSlab-Bold.woff') format('woff'),
      url('fonts/subset-RobotoSlab-Bold.svg#RobotoSlab-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
      url('fonts/subset-ProximaNova-Bold.woff2') format('woff2'),
      url('fonts/subset-ProximaNova-Bold.woff') format('woff'),
      url('fonts/subset-ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: local('Proxima Nova Light'), local('ProximaNova-Light'),
      url('fonts/subset-ProximaNova-Light.woff2') format('woff2'),
      url('fonts/subset-ProximaNova-Light.woff') format('woff'),
      url('fonts/subset-ProximaNova-Light.svg#ProximaNova-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: local('Proxima Nova Semibold'), local('ProximaNova-Semibold'),
      url('fonts/subset-ProximaNova-Semibold.woff2') format('woff2'),
      url('fonts/subset-ProximaNova-Semibold.woff') format('woff'),
      url('fonts/subset-ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
}

